.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  height: 20px;
  width: 300px;
  max-width: 300px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  height: 20px;
}

.panel_header {
  background-color: #b0d2fe;
  border-top-style: outset;
  height: 20px;
}

.panel_header:hover {
  background: #ffd971 !important;
  font-weight: bolder;
  height: 20px;
}

