.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  width: 180px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-family: Segoe UI;
}

.panel_header {
  background-color: #f3f2f1;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  border-left-style: solid;
  border-left-color: blueviolet;
  border-left-width: 5px;
  margin-bottom: 2px;
}

.panel_header:hover {
  background: #c7e0f4 !important;
}

