<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let sys of systemDataArray;let i = index"
                         [expanded]="step === i" (opened)="setStep(i)" hideToggle (afterExpand)="subSystemSelected(sys.ID, i)">
        <mat-expansion-panel-header *ngIf="sys.Title !== '' && sys.Title !== null && sys.Title !== undefined">
            <mat-panel-description>
                {{sys.Title}}:{{sys.ID}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <bng-command-tree #commandTree *ngIf="step === i"></bng-command-tree>
    </mat-expansion-panel>
</mat-accordion>


<!--<mat-action-list>-->
<!--    <button (click)="addPresenter(c.Code)" style="font-size: 14px" *ngFor="let c of commandDefinitions"-->
<!--            mat-list-item>{{c.Name}}-{{c.Code}}</button>-->
<!--</mat-action-list>-->
