.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  width: 220px;
}

::ng-deep .mat-expansion-panel-header-description {
  color: darkblue;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 11px !important;
}

::ng-deep .mat-icon-button {
  width: 20px !important;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-family: Segoe UI;
}

.panel_header {
  background-color: #d7e8ff;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
  height: 30px !important;
  color: black !important;
}

.panel_header:hover {
  background: #c7e0f4 !important;
}

.rcorners {
  //border-radius: 25px;
  //padding: 20px;
  //height: 10px;
  border-style: solid;
  border-width: 0.5px;
  font-size: 14px;
}
