/** No CSS for this example */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:yellow;
  background-color: #17a2b8;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  color:blue;
  background-color: white;
}

.close-img {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../content/images/close.png') no-repeat center center;
  background-size: contain;
  background-color: red;
  margin-bottom: 5px;
}
