/** No CSS for this example */
::ng-deep .mat-tab-list .mat-tab-labels {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  color: darkblue;
  margin-bottom: 10px;
}

::ng-deep .mat-tab-label {
  font-size: 14px;
  font-weight: 600;
  color: darkblue;
}

::ng-deep .mat-tab-label-active {
  background-color: #d7e8ff;
}

.close-img {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../content/images/close.png') no-repeat center center;
  background-size: contain;
  background-color: red;
  margin-bottom: 5px;
}
