.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  background-color: #d7e8ff;
  color: darkblue;
}

::ng-deep .mat-ink-bar {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.formly {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
  color: black;
  margin-right: 100px;
}

::ng-deep .mat-input-element{
  font-weight: bold;
}
